
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    background-color: antiquewhite;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 30px;
    margin: 10px 0px;

}
#card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
}
#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;

}